* {
    color: var(--white);
}

.appLayout {
    background: linear-gradient(180deg, #111 0%, #3B3B3B 100%);
    height: 100%;
    
    padding: 20px;
}

header {
    justify-content: space-between;
    
    margin-top: 60px;
}

.contentContainer {
    margin: auto;

    justify-content: center;

    gap: 10px;
}

.fireRisk {
    width: 400px;
    height: 120px;

    border-radius: 6px;
    background: linear-gradient(45deg, #173124 0.25%, #2BA669 99.75%);
    grid-area: 1 / 1 / 2 / 3;

    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 12px;
}

.location {
    width: 195px;
    height: 195px;

    border-radius: 6px;
    background: linear-gradient(45deg, #828282 0.25%, #2D528B 99.75%);
    grid-area: 2 / 1 / 3 / 2;

    padding: 21px;
}

.safety {
    width: 195px;
    height: 195px;

    border-radius: 6px;
    background: linear-gradient(45deg, #1C1C1C 0.25%, #2E2E2E 99.75%);
    grid-area: 3 / 1 / 4 / 2;

    padding: 21px;
}

.news {
    width: 195px;
    height: 400px;
    flex-shrink: 0;

    border-radius: 6px;
    background-color: var(--black);
    grid-area: 2 / 2 / 4 / 3;

    padding: 21px;
}