
.contentPosition {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    gap: 10px;
    color: var(--white);
    font-family: Inter, sans-serif;
    
}

.landingLogo {
    color: var(--white);
    font-family: 'PPMori';
    font-weight: bold;
}

.homeIcons {
    justify-content: space-between;
}

.homeHeading {
    color: var(--white);
}

.fireRisk {
    width: 400px;
    height: 120px;

    border-radius: 6px;
    grid-area: 1 / 1 / 2 / 3;

    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 12px;
}

.location {
    width: 195px;
    height: 195px;

    border-radius: 6px;
    background: linear-gradient(45deg, #828282 0.25%, #2D528B 99.75%);
    grid-area: 2 / 1 / 3 / 2;

    padding: 21px;
    color: var(--white);

    overflow: hidden;

}

.safety {
    width: 195px;
    height: 195px;

    border-radius: 6px;
    background: linear-gradient(45deg, #1C1C1C 0.25%, #2E2E2E 99.75%);
    grid-area: 3 / 1 / 4 / 2;

    padding: 21px;

    color: var(--white);
}

.news {
    width: 195px;
    height: 400px;
    flex-shrink: 0;

    border-radius: 6px;
    background-color: var(--black);
    grid-area: 2 / 2 / 4 / 3;

    padding: 21px;
}

.newsItemOne {
    object-fit: cover;
    background-image: url("https://images.pexels.com/photos/28317514/pexels-photo-28317514/free-photo-of-dramatic-nighttime-forest-fire-in-california.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}