.hamburgerMenu {
    position: fixed;
    right: 300px;
}

.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.menu {
    position: absolute;
    right: 0;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navItem {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: start; /* Ensure text aligns next to the icon */
    gap: 8px; /* Space between icon and text */
    text-decoration: none;
    color: white;
    padding: 23px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.navItem:hover {
    background-color: #555;
    color: #f0f0f0;
}

.icon {
    width: 24px;
    height: 24px;
}
