.weatherWidget {
  background-color: var(--black);
  border-radius: 8px;
  color: var(--white);
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #404040;
}

.weatherTemp {
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .weatherWidget {
    padding: 8px;
  }
}