.navContainer {
  position: fixed;
  bottom: 0;
  width: 440px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--l-grey);
  background: linear-gradient(45deg, #1c1c1c 0.25%, #2e2e2e 99.75%);
}

.navIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.1s, transform 0.1s, background-color 0.2s;
  padding: 0.5rem 1rem;
  filter: drop-shadow(0 0 0.5rem var(--black));
}

.navIcon:hover {
  color: #000000;
  transform: translateY(-1px);

  background-color: var(--l-grey);
}

.active {
  color: var(--white); /* 활성화 시 색상 */
  filter: drop-shadow(0 0 0.5rem var(--black));
}
