
/*Article Card*/
.articleCardContainer {
    display: flex;
    padding: 6px;
    flex-shrink: 0;
    align-self: stretch;
    margin-top: 6px;

    border-radius: 8px;
    background: var(--d-grey);

    color: var(--white);
}

.articleImage {
    display: flex;
    width: 90px;
    padding-right: 6px;
    justify-content: center;
    align-items: center;

    object-fit: cover;
}

.articleTitle {
    color: var(--white);
    line-height: 1.4rem;
    max-height: 20px;
    max-width: 280px;
    min-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.articleDescription {
    color: var(--l-grey);
}