
/*Article Card*/
.articleCardContainer {
    display: flex;
    padding: 6px;
    flex-shrink: 0;
    align-self: stretch;
    margin-top: 6px;

    border-radius: 8px;
    background: var(--black, #000);

    color: var(--white);
}

.articleImage {
    display: flex;
    width: 90px;
    padding-right: 6px;
    justify-content: center;
    align-items: center;

    object-fit: cover;
}

.articleDescription,
.articleTitle {
    color: var(--white);
}